events {
  worker_connections  4096;  ## Default: 1024
}

http {
    include mime.types;
    types {
        application/wasm;
    }

    server {
        listen 8050;

        add_header Blazor-Environment {{DOTNETCORE_VUE_STARTER_ASPNET_ZONE}};

        location / {
            root /usr/share/nginx/html;
            index  index.html index.htm;
            try_files $uri $uri/ /index.html =404;
        }

        # proxy api services to API
        #
        location /api/ {
            proxy_pass http://api.docker:80/;
            proxy_set_header X-Forwarded-Proto "${http_x_pvp_orig_scheme}";
            proxy_set_header X-Forwarded-Prefix "/${http_x_portal_application}/${http_x_portal_role}";
            # proxy_set_header X-Forwarded-Port $http_x_forwarded_port;
            proxy_set_header Host "${http_x_pvp_orig_host}";
    }

    }
}