{
  "ConnectionStrings": {
    "DefaultConnection": "Trust Server Certificate=true;Host={{DOTNETCORE_VUE_STARTER_DB_SERVER}};Database={{DOTNETCORE_VUE_STARTER_DB_NAME}};Username={{DOTNETCORE_VUE_STARTER_DB_USER}};Password={{DOTNETCORE_VUE_STARTER_DB_PASSWORD}};Port={{DOTNETCORE_VUE_STARTER_DB_PORT}};SslMode=Require"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",

  "TestSettings": {
    "DummyProperty": "{{DOTNETCORE_VUE_STARTER_DUMMY_VALUE}}"
  }
}