﻿<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\logs\internal-nlog-AspNetCore.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
		<target xsi:type="Console" name="jsonFile2">
			<layout type="JsonLayout">
				<attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
				<attribute name="level" layout="${level}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
				<attribute name="url" layout="${aspnet-request-url}" />
				<attribute name="action" layout="action: ${aspnet-mvc-action}" />
				<attribute name="calllist" layout="${callsite}" />
				<attribute name="message" layout="${message}" />
				<attribute name="eventProperties" encode="false" >
					<layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="20"/>
				</attribute>
			</layout>
		</target>
		
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--Output hosting lifetime messages to console target for faster startup detection -->
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="jsonFile2" final="true" />

        <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

        <logger name="*" minlevel="Trace" writeTo="jsonFile2" />
		
	</rules>
</nlog>